# Generate for pnpm project
# https://pnpm.io/guides/ignore-file

# pnpm
.pnpm
.pnpm-store
.pnpm-workspace.yaml
.pnpmfile.cjs
.pnpmfile.ts
.pnpm-lock.yaml
.pnpm-debug.log

# npm
node_modules
package-lock.json
npm-debug.log

# yarn
yarn.lock
yarn-error.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project
*.code-workspace
